<div class="row">
    <div class="col-md-6 here">
  <h1>Ninjas here:</h1>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="item in ninjas | orderBy: 'name' | filter: { here: true }">
     <h4>{{ item.name }}</h4>
    </li>
  </ul>
  </div>
<div class="col-md-6 not_here">
  <h1>Ninjas not here:</h1>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="item in ninjas | orderBy: 'name' | filter: { here: false }">
     <h4>{{ item.name }}</h4>
    </li>
  </ul>
</div>
</div>